<% if(typeof errors!= 'undefined') { %> <% errors.forEach(function(error) { %>
<div class="warning msg" role="alert">
  <%= error.msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>

<% }); %> <% } %> <% if(succes_msg != '') { %>
<div class="success msg" role="alert">
  <%= succes_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>

<% } %> <% if(error_msg != '') { %>
<div class="danger msg" role="alert">
  <%= error_msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>

<% } %> <% if(error != '') { %>
<div class="danger msg" role="alert">
  <%= error %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>

<% } %> <% if(email != '') { %>
<div class="success msg" role="alert">
  <%= email %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>

<% } %> <% if(update != '') { %>
<div class="success2 msg" role="alert">
  <%= update %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>

<% } %> <% if(del != '') { %>
<div class="success2 msg" role="alert">
  <%= del %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </button>
</div>

<% } %>
