<link rel="stylesheet" href="/css/style.css" />
<div class="triangle-dash">
    <ul>
      <li class="list-dash"><a href="/admin/project"><i class="fas fa-plus-circle"></i>Ajouter</a></li>
      <li class="list-dash"><a href="/"> <i class="fas fa-home"></i>Accueil</a></li>
      <li class="list-dash"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i>Deconnexion</a></li>
    </ul></div>
<section id="dashboard-section">
  
    <div class="contact-square">
    <h2>D<span class="spe-h2">a</span>shb<span class="spe-h2">o</span>ard</h2>
  </div>
    <% include ./components/messages %>
    <div class="project-section-dash">
    <div class="container-project-dash">
        <% for(let i =0; i<project.length; i++){ %>
        <div class="project-dash">
          <h2> <%= project[i].title %> </h2>
          <p> <%= project[i].description %> </p>
          <a href="<%= project[i].prev %>">Aperçu</a>
          <p>Github :<a href="<%= project[i].git %>">Lien</a></p>
          <img src="/uploads/<%= project[i].image %>" class="project_img">
  
          <form action="update/<%= project[i].id %>" method="GET">
            <input type="hidden" name="id" value="<%= project[i]._id %>">
            <input type="submit" value="update">
        </form>

          <form action="/admin/delete" method="POST">
            <input type="hidden" name="id" value="<%= project[i]._id %>">
            <input type="submit" value="delete">
        </form>
          </div>
    <% } %>
    </div>
  </div>
    
  </section>