<link rel="stylesheet" href="/css/style.css" />
<header id="Head">
  <div class="page">
    <span class="menu_toggle">
      <i class="menu_open fa fa-bars fa-lg"></i>
      <i class="menu_close fa fa-times fa-lg"></i>
    </span>
    <div class="menu-after"></div>
    <ul class="menu_items">
      <li class="list"><i class="fas fa-trophy fa-2x"></i><a href="#project-section">Projet</a></li>
      <li class="list"><i class="fas fa-address-book  fa-2x"></i><a href="/Contact">Contact</a></li>
      <li class="list"><i class="fas fa-users-cog  fa-2x"></i><a href="/users/login">Login</a></li>
    </ul>
    <main class="content">
      <div class="square">
      <div class="h1-square">
        <h1>Portf<span class="spe">o</span>lio</h1>
      </div>
      <div class="red-square"></div>
      </div>
      <div class="char-header" >
          <img src="/images/MorgHeader.gif" alt="morgana" id="Morg-header" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500" data-aos-anchor="#Head">
          <img src="/images/Header-bulle.svg" alt="speak" id="Speak" data-aos="fade-right" data-aos-duration="200" data-aos-delay="1800" data-aos-anchor="#Head">
          <p id="texte"></p>
        </div>
      </main>
      </div>
</header>
<section class="project-section">
  <div id="projet"id="projet" class="container-project" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500" data-aos-anchor="#projet">
    <div class="h2-css">
    <div class="h2-square">
        <h2 >Pr<span class="spe-h2">o</span>jets</h2>
      </div>
      <div class="h2-square2">
        </div>
      </div> 
      <% for(let i =0; i<project.length; i++){ %>
        <div class="project">
          <div class="project-text">
            <h2> <%= project[i].title %> </h2>
            <p><%= project[i].description %>br</p>
            <div class="btn-link">
            <a id="btn1" href="<%= project[i].prev %>" target="_blank" >Aperçu <i class="fas fa-external-link-alt"></i></a>
            <a  id="btn2" href="<%= project[i].git %>" target="_blank">Github<i class="fas fa-external-link-alt"></i></a>
          </div>
          </div>
        <img src="/uploads/<%= project[i].image %>" class="project_img">
        </div>
      <% } %>
      <i class="fas fa-chevron-left"id="left"></i>
      <i class="fas fa-chevron-right"id="right"></i>
    </div>
 </section>
   <div class="inter-section" id="foot">
      
   </div>
 <footer>
    <a href="#Head"><div class="jump-top"><h2>Home</h2></div></a>
    <div class="jump-top"></div>
     <div class="footer-text"data-aos="fade-up" data-aos-duration="300" data-aos-delay="500" data-aos-anchor="#foot">
      <h2>Vous pouvez me suivre juste ici !</h2>
      <ul class="reseau">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fab fa-facebook-f"></span>
            </a>
          </li>

          <li>
            <a href="https://twitter.com" target="_blank">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fab fa-twitter"></span>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fab fa-instagram"></span>
            </a>
          </li>
        </ul>
    </div>
    </div>
  
   <div class="square-background"></div>
 </footer>
 <script src="/js/texte.js"></script>
    <script src="/js/slider.js"></script>

