<header>
  <nav>
    <h1>Homepage</h1>
    <ul class="nav-bar">
      <li class="nav-list"><a href="/contact">Contact</a></li>
    <a href="/users/login">Login</a><li class="nav-list"></li>
    </ul>
  </nav>
</header>
<section id="project-section">
  <div class="container-project">
      <% for(let i =0; i<project.length; i++){ %>
      <div class="project">
        <h2> <%= project[i].title %> </h2>
        <p> <%= project[i].description %> </p>
        <a href="<%= project[i].prev %>">Aperçu</a>
        <p>Github :<a href="<%= project[i].git %>">Lien</a></p>
        <img src="/uploads/<%= project[i].image %>" class="project_img">
        </div>
  <% } %>
  </div>
</section>
