<header>
  <div class="page">
    <span class="menu_toggle">
      <i class="menu_open fa fa-bars fa-lg"></i>
      <i class="menu_close fa fa-times fa-lg"></i>
    </span>
    <div class="menu-after"></div>
    <ul class="menu_items">
      <li><a href="#"><i class="icon fa fa-home fa-2x"></i> Moar</a></li>
      <li><a href="#"><i class="icon fa fa-phone fa-2x"></i> Coffee</a></li>
      <li><a href="#"><i class="icon fa fa-heart fa-2x"></i> Please</a></li>
    </ul>
    <main class="content">
      <div class="square">
      <div class="h1-square">
        <h1>Portfolio</h1>
      </div>
      </div>
      <div class="char-header">
          <img src="/images/MorgHeader.gif" alt="morgana" id="Morg-header">
          <img src="/images/Header-bulle.svg" alt="speak" id="Speak">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Ducimus sit voluptatibus nesciunt, aut soluta autem ab doloribus alias neque commodi.</p>
        </div>
      </main>
</header>
<section id="project-section">
  <div class="container-project">
      <% for(let i =0; i<project.length; i++){ %>
      <div class="project">
        <h2> <%= project[i].title %> </h2>
        <p> <%= project[i].description %> </p>
        <a href="<%= project[i].prev %>">Aperçu</a>
        <p>Github :<a href="<%= project[i].git %>">Lien</a></p>
        <img src="/uploads/<%= project[i].image %>" class="project_img">
        </div>
  <% } %>
  </div>
</section>

